/*
 * Base stylesheet
 *
 */

html
{
    height: 100vh;
}

body
{
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
}

header
{
    top: 0;
    left: 0;
    right: 0;
    width: auto;
}

header ul
{
    margin: 0;
}

.error
{
    background-color: LightCoral;
}

.message
{
    background-color: WhiteSmoke;
}

